{% extends "base.html" %}
{% block page_content %}
<div class="jumbotron">    
    <h1>Welcome to Twender!</h1>
    <div class="row">
        <p class="lead">Don't be shy, enter your twitter handle.</p>
    </div>
    <div class="container-fluid">
    <div class="row search">
        <div class="col-md-4">
        </div> 
        <div class="col-md-4"> 
            <form class="form" action="{{ url_for('search') }}" method="post" role="form">
                {{ g.search_form.hidden_tag() }}
                {{ g.search_form.search(class="form-control") }}
            </form>
        </div>
        <div class="col-md-4">
            {% if error %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if gender == 0 %}
            <p>I'm gunna guess... you're a guy?</p>
        {% elif gender == 1 %}
            <p>Hmmm... are you a girl?</p>
        {% endif %}
    </div>
    </div>
<div class="row">
    <div class="pie-container"></div>
</div>
</div>
<div class="tweet-container">
{% for tweet,label in tweets %}
    <div class="row tweets">
        <div class="tweet {% if label == 0 %}boy{% else %}girl{% endif %}"> 
            <p>{{ tweet['text'] }}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
