{% extends "base.html" %}
{% block page_content %}
<div class="row jumbotron">    
    <h1>Welcome to Twender!</h1>
    <div class="row">
        <p class="lead">Don't be shy, enter your twitter handle.</p>
    </div>
    <div class="row search">
        <div class="col-md-6 col-md-offset-3"> 
            <form class="form" action="/" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ form.username(class="form-control") }}
                {% if form.username.errors %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ form.username.errors | join(',') }}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
